<a href="https://colab.research.google.com/github/pinggu95/deep_dive_AI/blob/main/36%EC%9D%BC%EC%B0%A8_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  데이터 탐색 및 가공

In [40]:
import pandas as pd
import numpy as np

train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/딥다이브/transaction_price_data_train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/딥다이브/transaction_price_data_test.csv')

In [41]:
train

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.8200,2002,200801,21~31,2,37500
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.1700,1973,200801,1~10,6,20000
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.7400,2007,200801,1~10,6,38500
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.3900,2003,200801,11~20,15,118000
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.4300,2004,200801,21~31,3,120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216548,1234823,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,59.8245,2012,201711,11~20,3,22000
1216549,1234824,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,7,30750
1216550,1234825,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,9,29500
1216551,1234826,9586,부산광역시,정관읍 용수리,1364,정관신도시롯데캐슬,정관읍 용수리 1364 정관신도시롯데캐슬,101.7400,2008,201711,21~30,7,26700
1216552,1234827,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,16,28800

# EDA(탐색적 데이터 분석)

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216553 entries, 0 to 1216552
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1216553 non-null  int64
 1   apartment_id            1216553 non-null  int64
 2   city                    1216553 non-null  object
 3   dong                    1216553 non-null  object
 4   jibun                   1216553 non-null  object
 5   apt                     1216553 non-null  object
 6   addr_kr                 1216553 non-null  object
 7   exclusive_use_area      1216553 non-null  float64
 8   year_of_completion      1216553 non-null  int64
 9   transaction_year_month  1216553 non-null  int64
 10  transaction_date        1216553 non-null  object
 11  floor                   1216553 non-null  int64
 12  transaction_real_price  1216553 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 120.7+ MB

In [43]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5463 entries, 0 to 5462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          5463 non-null   int64
 1   apartment_id            5463 non-null   int64
 2   city                    5463 non-null   object
 3   dong                    5463 non-null   object
 4   jibun                   5463 non-null   object
 5   apt                     5463 non-null   object
 6   addr_kr                 5463 non-null   object
 7   exclusive_use_area      5463 non-null   float64
 8   year_of_completion      5463 non-null   int64
 9   transaction_year_month  5463 non-null   int64
 10  transaction_date        5463 non-null   object
 11  floor                   5463 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 512.3+ KB

In [44]:
train.shape,test.shape

((1216553, 13), (5463, 12))

## 결측치 확인

In [45]:
train.isnull().sum()

transaction_id            0
apartment_id              0
city                      0
dong                      0
jibun                     0
apt                       0
addr_kr                   0
exclusive_use_area        0
year_of_completion        0
transaction_year_month    0
transaction_date          0
floor                     0
transaction_real_price    0
dtype: int64

In [46]:
test.isnull().sum()

transaction_id            0
apartment_id              0
city                      0
dong                      0
jibun                     0
apt                       0
addr_kr                   0
exclusive_use_area        0
year_of_completion        0
transaction_year_month    0
transaction_date          0
floor                     0
dtype: int64

#Feature Engineering

## target 분리

In [47]:
target = np.log1p(train.pop('transaction_real_price'))

In [48]:
train.shape,test.shape

((1216553, 12), (5463, 12))

In [49]:
train

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.8200,2002,200801,21~31,2
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.1700,1973,200801,1~10,6
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.7400,2007,200801,1~10,6
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.3900,2003,200801,11~20,15
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.4300,2004,200801,21~31,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1216548,1234823,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,59.8245,2012,201711,11~20,3
1216549,1234824,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,7
1216550,1234825,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,9
1216551,1234826,9586,부산광역시,정관읍 용수리,1364,정관신도시롯데캐슬,정관읍 용수리 1364 정관신도시롯데캐슬,101.7400,2008,201711,21~30,7
1216552,1234827,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,16

In [36]:
test

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor
0,1145756,10453,서울특별시,목동,938,청학,목동 938 청학,35.5500,2002,201711,11~20,2
1,1198704,989,부산광역시,초량동,1143-8,고관맨션,초량동 1143-8 고관맨션,68.7200,1977,201708,21~31,2
2,1222384,8597,부산광역시,괴정동,447-13,우림그린,괴정동 447-13 우림그린,72.5400,1989,201710,11~20,2
3,1179897,11086,서울특별시,대치동,1007-2,풍림아이원4차(1007-2),대치동 1007-2 풍림아이원4차(1007-2),111.5400,2004,201707,1~10,10
4,1223091,2121,부산광역시,다대동,1670,다대롯데캐슬블루,다대동 1670 다대롯데캐슬블루,119.6398,2014,201712,11~20,21
...,...,...,...,...,...,...,...,...,...,...,...,...
5458,1174640,8965,서울특별시,양재동,15-9,위너스,양재동 15-9 위너스,84.0500,2003,201710,11~20,7
5459,1175575,3831,서울특별시,반포동,18-1,래미안퍼스티지,반포동 18-1 래미안퍼스티지,84.9300,2009,201712,1~10,4
5460,1157024,5550,서울특별시,구로동,256-1,삼성래미안,구로동 256-1 삼성래미안,110.1880,2004,201712,21~31,23
5461,1136863,3371,서울특별시,홍제동,24-16,동양드림,홍제동 24-16 동양드림,92.4400,2005,201710,21~31,1
5462,1218921,6825,부산광역시,재송동,1187,센텀그린타워,재송동 1187 센텀그린타워,84.6400,1993,201712,1~10,7

In [50]:
# 필요없는 컬럼 제거
train = train.drop(['transaction_id','jibun','apt','addr_kr','city','transaction_date'], axis=1)
test = test.drop(['transaction_id','jibun','apt','addr_kr','city','transaction_date'], axis=1)

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216553 entries, 0 to 1216552
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   apartment_id            1216553 non-null  int64
 1   dong                    1216553 non-null  object
 2   exclusive_use_area      1216553 non-null  float64
 3   year_of_completion      1216553 non-null  int64
 4   transaction_year_month  1216553 non-null  int64
 5   floor                   1216553 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 55.7+ MB

## 레이블 인코딩

In [52]:
train

,apartment_id,dong,exclusive_use_area,year_of_completion,transaction_year_month,floor
0,7622,신교동,84.8200,2002,200801,2
1,5399,필운동,99.1700,1973,200801,6
2,3578,필운동,84.7400,2007,200801,6
3,10957,내수동,146.3900,2003,200801,15
4,10639,내수동,194.4300,2004,200801,3
...,...,...,...,...,...,...
1216548,9578,정관읍 용수리,59.8245,2012,201711,3
1216549,9578,정관읍 용수리,84.9923,2012,201711,7
1216550,9578,정관읍 용수리,84.9923,2012,201711,9
1216551,9586,정관읍 용수리,101.7400,2008,201711,7
1216552,9578,정관읍 용수리,84.9923,2012,201711,16

LabelEncoder는 **학습한(label encoding된) 값 외의 새로운 값(test 데이터에만 있는 값)**을 만나면 에러를 발생시킨다

```
from sklearn.preprocessing import LabelEncoder

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

train.head()
```  

이상태로 레이블 인코딩을 할경우 train[col]에는 없던 '376-4' 같은 값이 test[col]에는 포함되어 있기 때문에 오류가 난다

In [53]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd


# train/test 병합을 위한 구분 컬럼 추가
train['is_train'] = 1
test['is_train'] = 0

# train/test 병합
full = pd.concat([train, test], ignore_index=True)

# object 타입 컬럼만 추출하여 Label Encoding 수행
cols = full.select_dtypes(include='object').columns

for col in cols:
    le = LabelEncoder()
    full[col] = le.fit_transform(full[col].astype(str))

# 다시 train/test 분리
train = full[full['is_train'] == 1].drop('is_train', axis=1).reset_index(drop=True)
test = full[full['is_train'] == 0].drop('is_train', axis=1).reset_index(drop=True)

In [54]:
train.shape, test.shape

((1216553, 6), (5463, 6))

##원핫인코딩

In [19]:
# # 레이블 인코디이 성능이 조금더 우세하므로 원핫인코딩 사용 X
# train = pd.get_dummies(train, columns=cols)
# test = pd.get_dummies(test, columns=cols)

#모델링 및 하이퍼파라미터 튜닝

In [55]:
from sklearn.model_selection import train_test_split


# 데이터 분할
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=0)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((973242, 6), (243311, 6), (973242,), (243311,))

## 랜덤포레스트 회귀

In [56]:
from sklearn.ensemble import RandomForestRegressor

# 모델 학습
rf = RandomForestRegressor(random_state=0)
rf.fit(X_train, y_train)

# 예측 (예측 결과는 다시 지수 변환)
pred_log = rf.predict(X_val)
pred = np.expm1(pred_log)
y_val_true = np.expm1(y_val)

#평가 Metric 분석하기

In [57]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error


# 평가 지표 계산
mse = mean_squared_error(y_val_true, pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_val_true, pred)
r2 = r2_score(y_val_true, pred)

# 결과 출력
print(" 평가 지표")
print("MAE (Mean Absolute Error):", mae)
print("MSE (Mean Squared Error):", mse)
print("RMSE (Root Mean Squared Error):", rmse)
print("R² (R-squared):", r2)

# 예측값 일부 확인
print("\n 예측값 샘플:", pred[:10])

 평가 지표
MAE (Mean Absolute Error): 1944.3550649633924
MSE (Mean Squared Error): 20282897.56534555
RMSE (Root Mean Squared Error): 4503.65380167543
R² (R-squared): 0.9793833511492537

 예측값 샘플: [21383.61353466 12569.43642633 17308.28305021 22605.01782739
  7510.08618428 13744.45741722 37827.01315642 64380.89593677
 32535.13196026  5146.39844425]