<a href="https://colab.research.google.com/github/pinggu95/deep_dive_AI/blob/main/3%EC%9D%BC%EC%B0%A8_python_%ED%95%A8%EC%88%98%EC%99%80%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수와 클래스

### 함수

In [ ]:
def hello():
  print("hello")

hello()

hello
136084570113264

In [ ]:
def hello():
  print("hello")

f= hello
f()

hello

In [ ]:
def hello():
  print("hello")

f= hello()
print(f)

hello
None

In [ ]:
def hello():
    print("hello")
    return "goorm"

f = hello      # 함수 객체 자체 저장
g = hello()    # 함수 호출 -> print 실행 + "goorm" 리턴 → g에 저장

# print(f())
print(g)

hello
goorm

In [ ]:
class Func:
  def __call__(self):
    print("call")
f =Func()
f()

call

## 위치인자

In [ ]:
def print_num(a,b,c):
  print(a,b,c)

#1.
print_num(*[7,8,9])

#2.
print_num(*(7,8,9))

#3.
x = [7,8,9]
print_num(*x)

7 8 9
7 8 9
7 8 9

##가변인자

In [ ]:
def foo(*a):
  print(a)

foo(1,2,3)
foo(1,2,3,4)

(1, 2, 3)
(1, 2, 3, 4)

###키워드 가변인자

In [ ]:
def foo(**a):
  print(a)

foo(a=1,b=2,c=3)
foo(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
def foo(*a,**b):
  print(a)
  print(b)

foo(1,2,3,a=1,b=2,c=3)

(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

## lambda 함수

In [ ]:
def add(x, y):
    return x + y

add_lambda = lambda x, y: x + y

print(add(3, 5))
print(add_lambda(3, 5))

8
8

### LEGB 규칙

In [ ]:
x = "global"

def outer():
    x = "enclosing"
    def inner():
        x = "local"
        print(x)  # LEGB에 따라 local 찾음
    inner()

outer()

local

In [ ]:
x = "global"

def outer():
    x = "enclosing" # # LEGB에 따라
    def inner():
        print(x)
    inner()

outer()

enclosing

In [ ]:
x = "global"

def outer():
    def inner():
        print(x)
    inner()

outer()

global

###클로저(Closure)

In [ ]:
def outer(num):
  def inner():
    print(num)
  return inner

f1 = outer(3)
f2 = outer(5)

f1()
f2()

3
5

In [ ]:
def calc():
    a = 3
    b = 5
    def mul_add(x):
        return a * x + b
    return mul_add

c = calc()
print(c(1), c(2), c(3), c(4), c(5))

8 11 14 17 20

## 클래스(class)
* 생성자
* 인스턴스

In [ ]:
class person:
  pass

p = person()
p.data = 3

In [ ]:
class Car:
    def __init__(self, color):  # __init__  생성자
        self.color = color  # 인스턴스 변수 생성
        print("자동차가 만들어졌습니다.")

    def drive(self):
        print(f"{self.color} 자동차가 달립니다.")

my_car = Car("빨간색")  # → 여기서 Car는 클래스, my_car는 인스턴스
my_car.drive()

자동차가 만들어졌습니다.
빨간색 자동차가 달립니다.

##객체속성과 관련된 함수
* hasattr()
* getattr()

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hi, I'm {self.name}")

p = Person("goorm")

print(hasattr(p, 'name'))     # True
print(hasattr(p, 'greet'))    # True
print(hasattr(p, 'age'))      # False

True
True
False

## import

In [2]:
import pandas as pd

df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset/Boston-house-price-data.csv')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [4]:
df.shape

(506, 14)