<a href="https://colab.research.google.com/github/pinggu95/deep_dive_AI/blob/main/4%EC%9D%BC%EC%B0%A8_python_%EB%AA%A8%EB%93%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 모듈

```
import tkinter
tkinter.widget = tkinter.Label(None, text='Hello World')
tkinter.widget.pack()
```

```
from tkinter import *
widget = Label(None, text='Hello World')
widget.pack()
```
![image.png]()

In [ ]:
import calendar
print(dir(calendar))

['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_get_default_locale', '_locale', '_localized_day', '_localized_month', '_monthlen', '_nextmonth', '_prevmonth', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthrange', 'prcal', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']

In [ ]:
# 문자열에 leap 들어가 있는걸 찾아보자
a = [x for x in dir(calendar)if 'leap'in x]
print(a)

['isleap', 'leapdays']

In [ ]:
#주어진 해가 윤년인지 아닌지 판별하는 함수를 사용해 2077년이 윤년인지 확인
help(calendar.isleap) #leap year 윤년, leay day 윤달

Help on function isleap in module calendar:

isleap(year)
    Return True for leap years, False for non-leap years.

In [ ]:
print(calendar.isleap(2077)) # 2077은 윤년이 아니다

False

### random 모듈

In [ ]:
import random
random.random() # 0과1미만의 난수를 출력한다.

0.44510745208130664

In [ ]:
random.randrange(1,7) # 1이상 7미만의 난수를 출력한다

5

In [ ]:
a=['a','b','c','d','e']
random.shuffle(a)   #shuffle은 시퀀스를 섞어 놓는 함수다 즉, 배열을 섞어 놓는다
print(a)
print(a[0])

['d', 'e', 'b', 'a', 'c']
d

In [ ]:
# 색이름과 과일을 무작위로 뽑아서 밴드 이름을 지어주는 프로그램
a=['빨강','노랑','주황','초록','파랑','보라']
b=['사과','바나나','오렌지','라임','블루베리','포도']

random.shuffle(a)
random.shuffle(b)

for i in range(len(a)):
  print(a[i]+b[i])

주황오렌지
파랑블루베리
초록사과
노랑포도
빨강라임
보라바나나

### 날짜와 시간

In [79]:
from datetime import datetime
specific_datetime = datetime(2025,5,16,13,55)
print(specific_datetime)

2025-05-16 13:55:00

In [80]:
#시간 차 구하기
datetime1 = datetime(2024,2,27)
datetime2 = datetime(2024,3,5)
diff  = datetime2-datetime1
print(diff)

7 days, 0:00:00

In [81]:
# 시간을 문자열로 변환
datenow = datetime.now()
str_date = datenow.strftime("%Y %B %d")
print(str_date)

2025 May 16

In [82]:
#현재 날짜 시각 yyyy-mm-dd HH:MM:ss
datenow = datetime.now()
str_date = datenow.strftime("%Y-%m-%d %H:%M:%S")
print(str_date)

2025-05-16 08:16:25

### map(), fliter()

In [83]:
target = [1,2,3,4,5]

def add_1(n):
  return n+1

result =[]

for value in target:
  result.append(add_1(value))

print(result)

[2, 3, 4, 5, 6]

In [84]:
#map() 사용시

def add_1(n):
  return n+1

target = [1,2,3,4,5]

#결과를 확인할수 없다
result = map(add_1,target)
print(result)

#방법1
result = list(map(add_1,target))
print(result)

#방법2
result = map(add_1,target)
print(list(result))

<map object at 0x7da0c1b595a0>
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [85]:
target = [1,2,3,4,5,6,7,8,9,10]
result =[]

def is_even(n):
  return True if n%2==0 else False

for value in target:
  if is_even(value):
    result.append(value)

print(result)

[2, 4, 6, 8, 10]

In [86]:
target = [1,2,3,4,5,6,7,8,9,10]

def is_even(n):
  return True if n%2==0 else False

result = filter(is_even,target)
print(list(result))

[2, 4, 6, 8, 10]

In [87]:
#루프문을 이용한 간단한 예외작업 만들어보기

while True:
    try:
        num = int(input("숫자를 입력하세요(0~100까지 숫자중): "))
        if 0 <= num <= 100:
            print(f"입력한 숫자는 {num}입니다.")
            break
        else:
            print("0~100 사이의 숫자만 입력해주세요.")
    except ValueError:
        print("유효한 숫자가 아닙니다. 다시 입력해주세요.")

숫자를 입력하세요(0~100까지 숫자중): 15
입력한 숫자는 15입니다.

### 이터러블 객체, 이터레이터 **객체**

In [92]:
a = 1
iter(a)

TypeError: 'int' object is not iterable

In [90]:
a =[1,2,3,4]
print(iter(a))

<list_iterator object at 0x7da0c1b58f40>

In [91]:
a = 1
for i in a:
  print(i)

TypeError: 'int' object is not iterable

In [93]:
lst = [1, 2, 3]       # 리스트
s = "hello"           # 문자열
t = (10, 20, 30)      # 튜플
d = {"a": 1, "b": 2}  # 딕셔너리

for char in lst:
    print(char)

print()

for char in s:
    print(char)

print()

for char in t:
    print(char)

print()

for char in d:
    print(char)

1
2
3

h
e
l
l
o

10
20
30

a
b

In [94]:
class MyIterator:
  def __next__(self):
    return 1
class MyIterable:
  def __iter__(self):
    obj = MyIterator()
    return obj

m= MyIterable()
r = iter(m)
print(next(r))
print(next(r))
print(next(r))

1
1
1

In [95]:
class MyIterator:
    def __init__(self):
        self.data = [1, 2, 3]
        self.index = 0

    def __iter__(self):
      return self

    def __next__(self):
        if self.index < len(self.data):
            value = self.data[self.index]
            self.index += 1
            return value
        else:
            raise StopIteration

m = MyIterable()
r = iter(m)
print(next(r))
print(next(r))
print(next(r))

1
2
3

### 제너레이터

In [96]:
def num_gen():
  for i in range(3):
    yield  i

g= num_gen()

print(type(g))
print(next(g))
print(next(g))
print(next(g))

<class 'generator'>
0
1
2