<a href="https://colab.research.google.com/github/pinggu95/deep_dive_AI/blob/main/python_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초

## 문자열 포맷팅
* c언어 스타일 문자열 포맷팅
* python3 부터 지원하는 format 메서드 사용
* python3.6 부터 지원하는 f-string

In [1]:
name = "jane"
score = 89
print("%s의 수학 점수는 %d입니다" % (name, score))

jane의 수학 점수는 89입니다

In [2]:
name = "jane"
score = 89
print("{}의 수학 점수는 {}입니다".format(name, score))

jane의 수학 점수는 89입니다

In [3]:
name = "jane"
score = 89
print(f"{name}의 수학 점수는 {score}입니다")

jane의 수학 점수는 89입니다

## 문자열

In [10]:
  a = "abcdefg"
  print(f"{a:10}")

abcdefg

In [12]:
a=35.34543645
print(f"{a:10.4f}")

   35.3454

## 리스트 컴프리헨션

In [16]:
for i in range(10):
    print(i,end =" ")

0 1 2 3 4 5 6 7 8 9

In [18]:
for i in range(10):
    if i %2 == 0:  # 짝수만 출력
      print(i,end =" ") # 리스트로 출력x

0 2 4 6 8

In [21]:
num =[]
for i in range(10):
    if i %2 == 0:  # 짝수만 출력
      num.append(i) # 조건에 맞는 i를 하나씩 추가

print(num)
print(num[1:3])
print(num[:])
print(num[4])

[0, 2, 4, 6, 8]
[2, 4]
[0, 2, 4, 6, 8]
8

In [23]:
# 리스트 컴프리헨션
num = [i for i in range(10) if i%2==0]
print(num)

[0, 2, 4, 6, 8]

## 리스트 딕셔녀리

In [31]:
name = ["지민", "수연", "현우"]
age = [16, 17, 16]
grade = ["A", "B", "A+"]

students = [{"name": k, "age": v, "grade": s} for k, v, s in zip(name, age, grade)]

for student in students:
    print(f"{student['name']} 학생은 {student['age']}살이고, 성적은 {student['grade']}입니다.")

지민 학생은 16살이고, 성적은 A입니다.
수연 학생은 17살이고, 성적은 B입니다.
현우 학생은 16살이고, 성적은 A+입니다.